<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142488541576-qsh42pbeo7f39pupjpvk976m63h68ppf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142488541576-qsh42pbeo7f39pupjpvk976m63h68ppf</string>
	<key>API_KEY</key>
	<string>AIzaSyAdypSVLGIL-8PVVtfdD25d9nFtSN167xA</string>
	<key>GCM_SENDER_ID</key>
	<string>142488541576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zicops</string>
	<key>PROJECT_ID</key>
	<string>zicops-23e57</string>
	<key>STORAGE_BUCKET</key>
	<string>zicops-23e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142488541576:ios:c00d039c3f985a1a99423d</string>
</dict>
</plist>